<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Users</title>
  </head>
  <body>
    <% if (verified) { %>
    <div class="navbar">
      <h2 id="heading">Welcome <%= userName %></h2>

      <a href="/profile" class="loginOrNot">Profile</a>
      <a href="/logout" class="loginOrNot" id="login-button">Logout</a>
    </div>
    <center>
      <table title="Data" id="datatable">
        <h1>Users</h1>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Phone</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Address</th>
            <th>Verified</th>
          </tr>
        </thead>
        <tbody>
          <% usersList.forEach(function(user) { %>
          <tr>
            <td><%= user.userId %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.userName %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.dob %></td>
            <td><%= user.age %></td>
            <td><%= user.address %></td>
            <td><%= (user.verified === 1) ? "Verified" : "Not Verified" %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <p class="purple">End</p>
    </center>
    <% } %>
  </body>
</html>
